<div class="d-flex justify-content-center align-items-center container">
  <div class="card border-warning " style="width: 30rem; margin-top: 20px">
    <div class="card-header text-center text-white bg-warning mb-3   ">
      <b> Login </b>
    </div>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="card-body">
      <div class="form-group text-warning">
        <label for="emailId">Email address</label>
        <input type="email" class="form-control" id="emailId" name="emailId" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group text-warning">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="RememberMe">
        <label class="form-check-label" for="RememberMe">Remember Me</label>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-warning text-white ">Login</button>
      </div>

    </form>
  </div>
</div>